* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #e5e5e5;
}
.header {
  background: #FA8C16;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.header-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  margin-left: 60px;
  margin-right: auto;
}
.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-menu-link {
  text-decoration: none;
  color: #fafafa;
  margin-right: 15px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  transition: all 0.3s ease-in-out;
}
.header-menu-link:hover {
  background-color: #fafafa;
  color: #FA8C16;
  padding: 5px 10px;
  border-radius: 10px;
}
.input-group {
  position: relative;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  max-width: 237px;
  width: 60%;
  height: 32px;
}
.search-input {
  border: none;
  outline: none;
  height: 100%;
  width: 80%;
  padding-left: 12px;
}
.search-button {
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: white;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input::-webkit-input-placeholder { color: #bfbfbf; }
.search-input:-ms-input-placeholder { color: #bfbfbf; }
.search-input::-ms-input-placeholder { color: #bfbfbf; }
.search-input::placeholder { color: #bfbfbf; } 

.menu-toggle {
  display: none;
}


.content {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.posts {
  width: 67%;
}
.post {
  background: #f5f5f5;
  border: 1px solid #E8E8E8;
  margin-bottom: 30px;
}
.post-body {
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 0;
}
.post-title {
  margin-top: 0;
  margin-bottom: 19px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.post-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.tag {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #bfbfbf;
  margin-right: 10px;
  text-decoration: none;
}
.tags {
  margin-bottom: 22px;
}
.post-footer {
  background: #FAFAFA;
  border-top: 1px solid #E8E8E8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.post-buttons {
  display: flex;
  align-items: center;
}
.post-button .icon {
  fill: #8c8c8c;
}
.post-button {
  background-color: transparent;
  border: none;
  color: #8c8c8c;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  outline: none;
  margin-right: 19px;
  cursor: pointer;
}
.author-avatar {
  width: 34px;
  height: 34px;
  margin-left: 9px;
  border-radius: 4px;
}
.post-author {
  display: flex;
  text-align: right;
}
.author-username {
  display: block;
  color: #8c8c8c;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}
.post-time {
  color: #bfbfbf;
  font-size: 12px;
  line-height: 20px;
}
.icon-like, .icon-comment {
  margin-right: 6px;
}
.sidebar {
  width: 31%;
}

.login {
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  padding: 15px 25px;
  align-items: center;
  justify-content: space-between;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #595959;
}
.login-input {
  display: block;
  background-color: white;
  border: 1px solid #e8e8e8;
  padding: 5px 15px;
  margin-bottom: 15px;
}
.login-forget {
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  color: #757575;
  margin-bottom: 10px;
  font-style: italic;
}
.login-signin {
  background-color: #FA8C16;
  border: none;
  outline: none;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  line-height: 32px;
  font-size: 12px;
  margin-bottom: 15px;
}
.login-signin:hover {
  filter: opacity(80%);
}
.login-signin:active {
  filter: brightness(85%);
}

.login-signup {
  color: #d48806;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}
.user {
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  padding: 15px 25px;

}
.user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-info {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user-avatar {
  border-radius: 50%;
  margin-right: 17px;
  object-fit: cover;
}
.user-name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.icon-exit {
  width: 20px;
  height: 20px;
  fill: black;
  cursor: pointer;
}

.edit {
  margin-right: 15px;
  margin-left: auto;
}
.edit-container {
  display: none;
}
.edit-container.visible {
  display: block;
}
.edit-label {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #595959;
  text-transform: uppercase;
}
.edit-input {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.edit-btn {
  background-color: #FA8C16;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  line-height: 32px;
  font-size: 12px;
  margin-bottom: 15px;
}
.icon-edit {
  width: 20px;
  height: 20px;
  cursor: pointer;
}


.sidebar-nav {
  display: none;
  background-color: white;
}
.sidebar-menu {
  margin: 0;
  border: 1px solid #e8e8e8;
  border-top: none;
  list-style: none;
  padding: 0;
}
.sidebar-menu-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  padding: 16px 48px;
  display: inline-block;
  width: 100%;
  transition: all 0.3s ease-in-out;
  background-color: white;
} .sidebar-menu-link:hover {
  background-color: #fffbe6;;
}
.sidebar-menu-link.active {
  background-color: #fffbe6;
  border-right: 3px solid #faad14;
}
.button {
  background-color: #faad14;
  border-radius: 4px;
  border: none;
  outline: none;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 13px;
  color: white;
}
.button-new-post {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}
.new-post-icon {
  fill: white;
  width: 11px;
  height: 13px;
  margin-right: 10px;
}
.card {
  background-color: white;
  border: 1px solid #e8e8e8;
  margin-top: 20px; 
}
.card-header {
  background-color: #fafafa;
  border-bottom: 1px solid #e8e8e8;
  padding: 23px 25px;
}
.card-title {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.card-body {
  padding: 22px 40px 30px 25px;
}
.card-body-title {
  margin: 0 0 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #d48806;
}
.card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
  margin: 10px 0;
}
.promo {
  background: #8c8c8c url(../img/promo.jpg) no-repeat center/cover;
  width: 100%;
  height: 260px;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
  position: relative;
}
.promo::before {
  content: 'Реклама';
  position: absolute;
  right: 0;
  top: 0;
  background-color: #c4c4c4;
  padding: 0 26px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: white;
}

.add-post {
  display: flex;
  flex-direction: column;
}
.add-title, .add-text {
  background-color: white;
  border: 1px solid #e8e8e8;
  padding: 23px 30px;
  margin-bottom: 16px;
  outline: none;
}
.add-text {
  min-height: 362px;
}
.add-buttons {
  display: flex;
  align-items: center;
}
.buttton-add-post {
  margin-right: 2%;
  cursor: pointer;
}
.button-add-content {
  background-color: white;
  color: #faad14;
  border: 1px solid #faad14;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
  cursor: pointer;
}
.button-add-content img {
  margin-right: 10px;
}
@media (max-width: 990px ) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-left: 12px;
  }
  .buttton-add-post {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .menu-toggle span {
    height: 2px;
    width: 100%;
    background-color: white;
  }
  .header {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  .content {
    margin-top: 94px;
    margin-bottom: 60px;
  }
  .sidebar {
    z-index: 101;
    position: fixed;
    top: 64px;
    right: 0;
    bottom: 0;
    height: calc(100% - 64px);
    max-width: 320px;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    transform: translateX(100%);
    transition: all 1s ease-in-out;
    overflow-y: auto;

  }
  .sidebar.visible {
    transform: translateX(0);
  }
  .posts {
    width: 100%;
  }
  .header-nav {
    display: none;
  }
  .header-menu {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 576px) {
  .post-footer {
    flex-direction: column;
    align-items: start;
  }
  .post-author {
    margin-top: 15px;
  }
  .author-avatar {
    margin-left: 0;
    margin-right: 10px;
  }
  .author-about {
    order: 2;
    text-align: left;
  }
  .buttton-add-post {
    width: 70%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .add-buttons {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .button-add-content {
    margin-right: 0;
    margin-bottom: 10px;
  }
}